#header {
    width: auto;
    height: auto;
    align-items: center;
    background: #212529;
    color: #ffc;
    overflow: hidden;
}

#branding h1{
    color:white
}

#user-tools {
    color:white;
}
a:link,
a:visited{
    color: #212529;
}
div.breadcrumbs {
    background: #79aec8;
    padding: 10px 40px;
    font-size: 14px;
    background: #30caa0;
    color:  #212529;
    text-align: left;
}

div.breadcrumbs a{
    color :#333
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background:#30caa0;
    color: #fff;
}

input, textarea, select, .form-row p, form .button {
    color:  #212529;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background:#333 ;
    
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background:#333 ;
}